<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/static/css/reset.css}">
	<link rel="stylesheet" th:href="@{/static/css/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}">
	<title>图书管理</title>
	<!-- <%--静态包含,base标签，css样式，jQuery--%>
	<%@ include file="/pages/common/head.jsp"%> -->
    <script type="text/javascript" th:src="@{/static/script/jquery-3.2.1.js}"></script>
    <script type="text/javascript" th:src="@{/static/script/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/script/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/script/feather.min.js}"></script>
    <script>
        $(function () {
         $("td").on("click","#deleteBtn1",function () {
                $("#deleteBookForm").attr("action", $(this).attr("del_url")).submit();
                return false;
            })
        });
    </script>


</head>
<body>

	<div id="header">
		<img class="logo_img" alt="" th:src="@{/static/img/logo2.jpg}">
		<span class="wel_word">图书管理系统</span>
		    <!-- <%--静态包含 manager管理模块的菜单--%>
		    <%@ include file="/pages/common/manager_menu.jsp"%> -->
        <div>
            <a class="btn btn-sm btn-success" th:href="@{/book/toAddPage}">添加</a>
        </div>

	</div>

	<div id="main">
		<table>
			<tr>
				<td>名称</td>
				<td>价格</td>
				<td>作者</td>
				<td>销量</td>
				<td>库存</td>
				<td colspan="2">操作</td>
			</tr>
				<tr th:each="book:${bookByPage}">
					<td>[[${book.name}]]</td>
					<td>[[${book.price}]]</td>
					<td>[[${book.author}]]</td>
					<td>[[${book.sales}]]</td>
					<td>[[${book.stock}]]</td>
					<td><a class="btn btn-sm btn-primary"
							th:href="@{/book/updatePage/}+${book.id}">编辑</a>
					</td>
                    <td>
                        <button class="btn btn-sm btn-danger deletebnt" id="deleteBtn1"
                                th:attr="del_url=@{/book/}+${book.id}">删除</button>
					</td>
				</tr>
		</table>

        <!--删除表单-->
        <form id="deleteBookForm" method="post">
            <input type="hidden" name="_method" value="delete">
        </form>
        <!--引入分页栏-->
        <div th:replace="commons/page_nav::#page_bar"/>
    </div>

    <div th:replace="commons/footer::#bottom"></div>

</body>

</html>