<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cl.dao.OrderMapper">
    <insert id="saveOrder" parameterType="order">
        INSERT INTO t_order(order_id, create_time, price, status, user_id) VALUES (#{orderId},#{createTime},#{price},#{status},#{userId});
    </insert>
</mapper>